<%- include('includes/head.ejs')  %>
<!-- no usamos el simbolo <%= %> con igual, porque sino lo que
  se incluiría sería el html como TEXO , guarda!!
 para que se reconozca el html y evitar el cross scripting usamos el <%-  %>, signo menos -->
</head>

<body>
    <%- include('includes/navigation.ejs')  %>
    <h1>Page Not Found! Guarda con EJS</h1>
<%- include('includes/end.ejs') %>